body{
    background-image: url(background.png);
    background-size: cover;
}
#header{
    padding-top: 140px;
    align-items: center;
}

.text-center {
    text-align: center;
}

#bigtitle{
    font-size: 100px;
    color: palevioletred;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
#subtext{
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}

#songDisplay{
    display: grid;
    align-self: center;
}

#stuff{
    text-align: center;
}

#search{
    width: 300px;
    display: inline;
    padding: auto;
}

#randomize{
    width: 300px;
    display: inline;
}

#or{
    display: inline;
    color:indigo;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

#grid-content{
    display:flex;
    gap: 75px;
    justify-content: center;
}

#songDisplay{
    text-align: center;
}

#compDisplay{
    text-align: center;
}

.matchFont{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

